<div class="container">
    <label for="brand">Brand</label>
    <input (input)="searchAutoList(make.value)" type="text" id="brand" #make placeholder="Sample:BMW"/>
    <button (click)="searchAutoList(make.value)">Search</button>
</div>

<div class="auto-list">
    <div class="auto-card" *ngFor="let auto of selectedAutos">
        <div (click)="getAutoDetails(auto)">
            <img src="photos/{{auto.photo}}" title="Clic for more details!"/>
            <div class="price">{{auto.price}}</div>
            <p [ngStyle]="{'line-height':'20px'}">
                <span class="model">{{auto.model}}</span>
                <span [ngStyle]="{'color':'rgba(205, 103, 2, 0.956)','font-weight':'bold'}">{{auto.brand|uppercase}}</span><br />
                {{auto.price}}.000 DNT<br />
                {{auto.availability}} units in-stock. 
            </p>
        </div>
    </div>
</div>


